<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ==Fav==Icon========== -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <!-- ==StyleSheet(CSS)==== -->
	<link rel="stylesheet" href="/css/filter_drawer.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/artist_page.css">
    <!-- ==Import==Font======= -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- ==FontAwesome-icons======= -->
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <!-- ==Title============== -->
    <title>{{ .Artist.Name }}</title>
</head>
<body>
    {{ template "navigation" . }}
	{{ template "artist-banner" .}}
	{{ template "footer" . }}
</body>
</html>